<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <link rel="stylesheet" href="../styles/index.less" />
  </head>
  <body>
    <div class="links-block">
      <a href="chats.hbs" target="_blank">Страница Чатов</a>
      <a href="sign_in.hbs" target="_blank">Форма Входа</a>
      <a href="sign_up.hbs" target="_blank">Форма Регистрации</a>
      <a href="profile.hbs" target="_blank">Данные Профиля</a>
      <a href="change_data.hbs" target="_blank">Изменить Данные</a>
      <a href="change_password.hbs" target="_blank">Изменить Пароль</a>
      <a href="error404.hbs" target="_blank">Ошибка 404</a>
      <a href="error500.hbs" target="_blank">Ошибка 500</a>
    </div>
  </body>
</html>
