<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/authorization_form.less" />
    <title>Login</title>
  </head>
  <body>
    <div class="sign-in-form-container">
      <h1 class="title">Вход</h1>
      <div class="form-fields">
        <div class="form-field">
          <input name="login" type="text" placeholder="Логин" />
        </div>
        <div class="form-field">
          <input name="password" type="text" placeholder="Пароль" />
        </div>
      </div>
      <div class="form-buttons">
        <button class="confirm-button">Войти</button>
        <a name="Sign up" href="./sign_up.hbs">Зарегистрироваться</a>
      </div>
    </div>
  </body>
</html>
